* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: block;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

.container,
.container-fluid,
.container-md,
.container-lg,
.container-xl,
.container-sm {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 540px;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.navbar {
  padding: 40px 15px;
  text-transform: uppercase;
  color: #eee;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar > .navbar-brand {
  font-family: serif;
  cursor: pointer;
  background-color: transparent;
  padding: 0.3125rem 0;
  margin-right: 1rem;
  color: #333 !important;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro {
  padding: 120px 0px 90px 0px;
}

.intro .col-sm > p.hello {
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 13px;
  margin: 30px auto;
  letter-spacing: 2px;
  display: inline-block;
}

.intro .col-sm > h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 38px;
  font-family: serif;
  font-weight: normal;
  line-height: 44px;
  color: #333;
  max-width: 800px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.row .col-sm {
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.row .col-sm .image {
  height: 550px;
  display: block;
  background-size: cover;
  background-position: center center;
  margin: 15px 0;
}

.row .col-sm .image a {
  opacity: 0;
  display: block;
  position: absolute;
  min-height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.row .col-sm .image a:hover {
  opacity: 1;
  display: block;
  position: absolute;
  min-height: 100%;
}

.row .col-sm .image:hover a {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row .col-sm .image h3 {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 45px 40px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 16px;
}

.row .col-sm .image p.sub {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  padding: 20px 40px;
}

.row .col-12 p.hello {
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 13px;
  padding: 10px 0;
  margin: 30px auto;
  letter-spacing: 2px;
  display: inline-block;
}

.col-12,
.col-md-8,
.col-md,
.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.about {
  padding: 120px 0;
}

.about p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  padding-right: 30px;
}

.about p.about-intro {
  font-family: serif;
  font-size: 28px;
  max-width: 700px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.form-row .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
}

.form-row .col-6 label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: #333;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
}

.form-row .col-6 input {
  width: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #777;
  background-color: transparent;
  border-radius: 2px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-row .col-6 input.form-control {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
}

.form-row.col,
.form-row > [class*="col-"] {
  padding: 0 5px;
}

.form-row .col-12 label {
  cursor: default;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}

.form-row .col-12 textarea.form-control {
  width: 100%;
  height: 140px;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #777;
  border-radius: 2px;
  background-color: transparent;
  resize: none;
  color: #333;
}

.form-row .col-12 input {
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #333;
  color: #333;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

footer {
  display: block;
  padding: 40px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .container {
  border-top: 2px solid rgba(144, 130, 109, 0.2);
  color: #999;
  padding: 20px 0px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */